html {
    min-width: 1040px;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 1em auto 1em 3em;
    width: 960px;
}

h1 {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -2px;
    margin: .3em 0 .1em 0;
    text-rendering: optimizeLegibility;
}

.background {
    fill: #eee;
}

#choose {
    text-align: right;
}


.viewer-container {
	width: 300px;
	height: 300px;
    float: left;
	margin-right: 10px;
}

.info {
	display:none !important;
}

.slice-text{
	border:0;
	float:left;
	display: block;
	width: 24px;
}
