html {
    min-width: 1040px;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 1em auto 1em 3em;
}

h1 {
    font-size: 27px;
    font-weight: 300;
    letter-spacing: -2px;
    margin: .3em 0 .1em 0;
    text-rendering: optimizeLegibility;
	clear:both;
}

#choose {
    /*text-align: right;*/
	clear:both;
}

#outer-container{
	clear:both;
}


.viewer-container {
	/*width: 300px;*/
	/*height: 300px;*/
    float: left;
	margin-right: 10px;
}

.info {
	display:none !important;
}

.slice-text{
	border:0;
	float:left;
	display: block;
	width: 24px;
}

.view.top,.view.side,.view.front{
	clear:both;

}

.slice-container {
	position: relative;
	float: left;
}

.colorbar {
	position:absolute;
}

.colorbar.topbar {
	background-color: #ffaaaa;
}

.colorbar.sidebar {
	background-color: #aaffaa;
}

.colorbar.frontbar {
	background-color: #aaaaff;
}
	
.colorbar.horizontal{
	top: 0%;
	height: 1px;
	width: 100%;
	overflow:hidden;
}

.colorbar.vertical {
	top: 0px;
	left: 0%;
	width: 1px;
	height: 100%;
	overflow:hidden;
}

.viewer {
	text-align: center;
}
.slice img {
	display: block;
}
.slice {
	float:left;
}

.status,.viewer-number,.dimensions {
	display: none;
}

.delete {
	color: red;
	cursor: pointer;
}